html,
body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 2rem;
  font: 16px/1.5 system-ui, sans-serif;
}

h1:first-child {
  margin-top: 0;
}

a {
  color: hsl(210, 70%, 60%);
}

@media (prefers-color-scheme: dark) {
  html {
    background: black;
    color: hsl(0, 0%, 90%);
  }

  .show-loading-animation.round-shape,
  .show-loading-animation.rect-shape,
  .show-loading-animation .text-row {
    background-color: hsl(0, 0%, 20%) !important;
  }
}
